/* Archivo de estilos */ 
* {
  margin: 100px;
}
body {
  background: skyblue;
}
body { background: red; } 
<<<<<<< HEAD
body { background: yellow; } 
=======
body { background: blue; } 
>>>>>>> 0047f18bafc3a08c5a52a8499ddde63f058c34a6
body { background: yellow; } 
